<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
  <th:block th:replace="~{fragments/meta}"></th:block>
  <title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE">NewBook</title>

  <th:bloc th:replace="fragments/style"></th:bloc>


</head>
<body>
  <div th:replace="~{fragments/navbar}"></div>

  <main layout:fragment="main-content">

  </main>
  <div th:replace="~{fragments/footer}"></div>

  <th:block th:replace="fragments/script"></th:block>

  <th:block layout:fragment="subScript"></th:block>
  <!--Individual webpage script  -->

</body>
</html>