<section xmlns:th="http://www.thymeleaf.org">
    <!--card readonly ~start-->
<!--    <div th:fragment="card-readonly(uuid,title,thumbnail,author)"-->
<!--         th:href="@{/article/{uuid}(uuid=${uuid})}" class="card shadow-sm">-->
<!--&lt;!&ndash;        <img th:src="@{/resources/img/default_pic/thumbnail.jpg}" alt="News Coffee" class="bd-placeholder-img card-img-top"/>&ndash;&gt;-->
<!--&lt;!&ndash;        <img th:src="@{/resources/img/default_pic/{thumbnail}(thumbnail=${thumbnail})}" alt="News Coffee" class="bd-placeholder-img card-img-top"/>&ndash;&gt;-->
<!--        <img th:src="@{http://localhost:8080/files/{thumbnail}(thumbnail=${thumbnail})}" alt="News Coffee" class="bd-placeholder-img card-img-top"/>-->
<!--        <div class="card-body">-->
<!--            <p th:text="${title}" class="card-text"></p>-->
<!--            <div class="d-flex justify-content-between align-items-center">-->
<!--                <small th:text="${author}" class="text-body-secondary"></small>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
    <div  th:fragment="card-readonly(uuid,title,thumbnail,author)" class="card" style="width:50%;margin-left: 50px;">
        <img th:src="@{http://localhost:8080/files/{thumbnail}(thumbnail=${thumbnail})}" alt="News Coffee" class="bd-placeholder-img card-img-top"/>
<!--        <img th:src="@{http://localhost:8080/files/{thumbnail}(thumbnail=${thumbnail})}" alt="avatar" style="border-radius: 50%;width:100px; height:100px; margin-top:-30px; " />-->
        <div class="card-body position-relative">
            <div class="position-absolute start-25 translate-middle-y">
                <div class="d-flex">
                    <div class="text-bg-dark " >
<!--                        <img src="https://ih0.redbubble.net/image.618369215.1083/flat,1000x1000,075,f.u2.jpg" alt="picture" class=" w-100 h-100 object-fit-cover rounded-pill border-3">-->
                        <img th:src="@{http://localhost:8080/files/{thumbnail}(thumbnail=${thumbnail})}" alt="avatar" style="border-radius: 50%;width:100px; height:100px; margin-top:-10px; " />
                    </div>
                    <div class="align-self-end mb-2 ms-2">
                        <div>
                            <small> Saran Vorn</small>
                        </div>
                        <div>
                           <a href="#">@name</a>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <br>
            <br>

            <p th:text="${title}" class="card-text"></p>
            <div class="d-flex justify-content-between align-items-center">
                <p class="card-title bg-warning rounded-2 p-1 text-white">program</p>
                <small th:text="${author}" class="text-body-secondary"></small>
            </div>
        </div>
<!--        <div class="card-body">-->
<!--            <h5 class="card-title">Card title</h5>-->
<!--            <p class="card-text">Some quick example text to build on the card title. </p>-->
<!--            <a href="#" class="btn btn-primary">Go somewhere</a>-->
<!--        </div>-->
    </div>

    </div>
    <!--card readonly ~start-->
    <!--    card ~ action start -->
    <div th:fragment="card_action(uuid,title,thumbnail,author)" class="card shadow-sm">
        <img th:src="@{http://localhost:8080/files/{thumbnail}(thumbnail=${thumbnail})}" alt="News Coffee" class="bd-placeholder-img card-img-top"/>
        <div class="card-body">
            <p th:text="${title}" class="card-text"></p>
            <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <a href="#" type="button" class="btn btn-sm btn-outline-success">View</a>
                    <a href="#" type="button" class="btn btn-sm btn-outline-primary">Edit</a>
                    <a href="#" type="button" class="btn btn-sm btn-outline-danger">Delete</a>
                </div>
                <small th:text="${author}" class="text-body-secondary"></small>
            </div>
        </div>
    </div>
    <!--    card ~ action end -->

    <!--    Author card ~start-->
        <div class="card shadow-sm border-0 h-100" th:fragment="author(user)">
            <img th:src="${user.avatar}" class="card-img-top" th:alt="${user.username}">
            <div class="card-body">
                <h5 class="card-title mb-0 text-uppercase" th:text="${user.name}">Card title</h5>
                <b class="text-primary" th:text="${#strings.prepend(user.username,'@')}"></b>
                <p class="mb-1">Gender: <span class="text-capitalize" th:text="${user.gender}"></span></p>
                <address class="card-text mb-1">
                    Address: <span th:text="${user.address}"></span>
                </address>
                <p class="mb-1">Email: <span th:text="${user.email}"></span></p>
            </div>
            <div class="card-footer">
                <a th:href="@{/authors/{id}(id=${user.id})}" class="btn btn-primary btn-sm"><i class="bi bi-eye"></i> View
                    Profile</a>
            </div>
        </div>
    <!--    Author card ~start-->

    <!--    Card profile ~ start-->
    <div th:fragment="card-profile(uuid,title,thumbnail,author)" class="bd-example">
        <div class="card mb-3">
            <!--                <svg class="bd-placeholder-img card-img-top" width="100%" height="180" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Image cap" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"></rect><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text></svg>-->
            <img src="https://cdn.pixabay.com/photo/2018/01/24/18/05/background-3104413_1280.jpg" class="bd-placeholder-img card-img-top" width="100%" height="180" alt="img" preserveAspectRatio="xMidYMid slice" focusable="false" />
            <div class="card-body">
                <div class="position-absolute start-25 translate-middle-y">
                    <div class="d-flex">
                        <div class="text-bg-dark " >
                            <!-- <img src="https://ih0.redbubble.net/image.618369215.1083/flat,1000x1000,075,f.u2.jpg" alt="picture" class=" w-100 h-100 object-fit-cover rounded-pill border-3">-->
                            <img th:src="@{http://localhost:8080/files/{thumbnail}(thumbnail=${thumbnail})}" alt="avatar" style="border-radius: 50%;width:100px; height:100px; margin-top:-10px; " />
                        </div>
                        <div class="align-self-end mb-2 ms-2">
                            <div>
                                <small> hello</small>
                            </div>
                            <div>
                                <small>Hii</small>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <br>
                <br>
                <p th:text="${title}" class="card-text"></p>
                <div class="d-flex justify-content-between align-items-center">
                    <small th:text="${author}" class="text-body-secondary"></small>
                </div>
            </div>
        </div>
    </div>
    <!--    Card profile ~ start-->
</section>