<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/master-layout}">
<head>
    <title>Author</title>
</head>
<body>
<main layout:fragment="main-content">
    <div class="py-5">
        <div class="mb-4 border-bottom border-1 pb-3">
            <h4>Total authors: <span th:text="${authors.size()}"></span></h4>
        </div>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-3">
            <div class="col" th:each="user : ${authors}" th:object="${user}">
                <div
                        th:replace="~{fragments/card::author(${user})}"
                ></div>
            </div>
        </div>
    </div>
</main>
</body>
</html>